#header{
	width: 1200px;
	margin: 0 auto; 
	position: relative;
	min-height: 200px;
}

#parallax-bg{
	position: fixed;
	width: 300px;
	height: 300px;
	background: url('../img/img1.jpg') no-repeat 0px 200px;

}

#parallax-bg2{
	position: fixed;
	width: 300px;
	height: 300px;
	right: 0px;
	background: url('../img/img2.jpg') no-repeat 0px 0px;

}


#logo{
	float: left;
	margin-top: 15px;
	font: 17px Tahoma;
}

button{
	border: 1px solid black;
	border-radius: 8px;
	padding: 8px;
	cursor: pointer;
}

.block{
	border:2px solid black;
	border-radius: 10px;
	padding:10px;
}

/* search */
#search-block{
	float: left;
	margin-top: 70px;
	margin-left: 50px;
}

#search-block input{
	border: 2px solid orange;
	width: 300px;
	padding: 5px;
}

/*current time*/
#clockDisplay{
	background: orange;
	padding: 6px;
	font: bold 16px Arial;
	letter-spacing: 1px;
	color: white;
	border: 2px solid black;
	border-radius: 0px 0px 5px 5px;
	position: absolute;
	top:-2px;
	right: 250px;
}

/* main menu */
#main-menu-button{
	cursor: pointer;
	position: absolute;
	right: 0px;
	top: 0px;
	border: 2px solid black;
	border-top: 0px;
	background: orange;
	padding: 5px;
	font: 15px Verdana;
	color: white;
	border-radius: 0px 0px 10px 10px;
	
}

#main-menu{
	display: block;
	background: #ea8f15;
	position: relative;
}

#main-menu ul{
	display: block;
	width: 1200px;
	margin: 0 auto;
	color: #1206f9;
	padding: 10px 0px
}

#main-menu ul li{
	display: inline-block;
}

/* left menu hide */
#l-menu-hide{
	margin: 0 auto;
	width: 1200px;
	background: #5e97a2;
	color: #f9faff;
	position: absolute;
	top: 24px;
	right: 0px;
	z-index: 5;
	border: 2px solid orange;
	border-radius: 20px 0px 20px 20px; 
}

/*aside*/
#content{
	margin: 0 auto;
	width: 1200px;
	min-height: 2000px;
	position: relative;
}
#content-left{
	width: 20%;
	display: inline-block;
	float:left;
	background: white;
}

#content-right{
	width: 100%; 
	background: grey;
}

#content-left+#content-right{
	width: 80%; 
	display: inline-block;
	float:left;
}

/* swap style */
#swap-style{
	border:2px solid black;
	border-radius: 10px;
	padding:10px;
}

/* custom alert */
#dialogoverlay{
	display: none;
	opacity: .5;
	background: #8e8671;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	z-index: 10;
}

#dialogbox{
	width: 550px;
	background: #62619e;
	padding: 10px;
	border-radius: 10px;
	display: none;
	z-index: 11;
	position: fixed;
}

#dialogboxhead{
	background: blue;
	font: 22px Verdana;
	color: white;
	padding: 10px;
}

#dialogboxbody{
	background: yellow;
	font: 14px Arial;
	color: black;
	padding: 10px;
}

#dialogboxfoot{
	background: green;
	text-align: right;
	padding: 10px;
}

/* fadeIn fadeOut */
.contentbox{
	background: white;
	border-radius: 10px;
	border: 2px solid black;
	padding: 10px;
}

/* footer */
footer{
	background: #ea8f15;
}

#copyright{
	width: 1200px;
	margin: 0 auto;
	color: #1206f9;
	padding: 10px 0px
}